.wrapper {
  max-width: 1440px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.title {
  text-align: center;
  font-size: 40px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.author {
  text-align: center;
  font-size: 24px;
  color: rgb(29, 124, 161);
}
.content {
  margin-top: 20px;
  padding: 30px;
  border: 1px solid black;
  border-radius: 10px;
}
