.wrapper {
  max-width: 1440px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 70px;
  margin-bottom: 50px;
}

.title {
  text-align: center;
  font-size: 40px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.author {
  font-size: 28px;
  color: rgb(29, 124, 161);
}
.content {
  margin-top: 20px;
  padding: 30px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
