.list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 1350px;
  gap: 25px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.description {
  max-width: 250px;
  overflow: hidden;
  height: 24px;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
}

.descriptionRating {
  max-width: 250px;
  overflow: hidden;
  height: 24px;
  text-align: center;
}

.img {
  width: 250px;
  height: 350px;
  object-fit: cover;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.listItem {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.listItem:hover {
  transform: scale(1.03);
  transform-origin: center center;
  cursor: pointer;
}
